.login__container {
    border: solid 2px rgb(65, 99, 241, 0.8);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 30px rgb(65, 99, 241);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}