@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
